.container {
  max-width: 92% !important;
  margin: 0 auto;
}
#section-1 .text-area {
  padding: 0;
}
/* section 4 */
.item {
  width: 100% !important;
}
.items {
  width: 100% !important;
}
.text-area h1 {
  font-size: 3rem;
}
/* section 5 */
#section-5 .watch {
  width: 100% !important;
  margin-bottom: 2.7rem;
}
/* footer */
footer .email {
  width: 100% !important;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
footer .about {
  width: 100% !important;
}
